<!DOCTYPE html>
<html>
  <head>
    <title>Analytics</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
        <nav>
          <div class="top">
            <h1><%= link_to 'Toppage', root_path %></h1>
          </div>
          <div class="menu">
            <% if site_signed_in? %>
              <strong><%= link_to 'マイページ', reports_show_path %></strong>
              <%= link_to '登録情報変更', edit_site_registration_path %>
              <%= link_to 'ログアウト', sites_sign_out_path %>
            <% else %>
              <%= link_to '新規サイト登録', new_site_registration_path %>
              <%= link_to 'ログイン', new_site_session_path %>
            <% end %>
          </div>
        </nav>
    </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="row justify-content-center">
      <div class="col-10">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
