<!DOCTYPE html>
<html>
  <head>
    <title>Analytics</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
        <nav>
          <% if site_signed_in? %>
            <strong><%= link_to current_site.username, reports_show_path %></strong>
            <%= link_to 'セッティング', edit_site_registration_path %>
            <%= link_to 'ログアウト', destroy_site_session_path, method: :delete %>
          <% else %>
            <%= link_to 'サインアップ', new_site_registration_path %>
            <%= link_to 'ログイン', new_site_session_path %>
          <% end %>
        </nav>
    </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>

    <a href="#" id="post">post</a>
    <table border="1">
        <tbody>
            <tr>
                <th>code</th>
                <td id="code"> </td>
            </tr>
            <tr>
                <th>message</th>
                <td id="message"> </td>
            </tr>
        </tbody>
    </table>
    <script src="//code.jquery.com/jquery-3.1.1.js"></script>
    <script>
    $(function(){
      $.ajax({
        method: 'post',
        url: 'http://localhost:3000/api/v1/pvs',
        dataType: "json",
        contentType: "application/json",
        data: JSON.stringify({
            pv: { url: location.href, }
        }),
        timeout: 10000,
      })
    })
    </script>
  </body>
</html>
